body {
  font-size: 16px;
}
:root {
  --colorPrincipalFondo: #3b3f41;
  --colorPrincipalFondo2: #635E5E;
  --colorSeminegro: #121212;
  --colorLetraWhite: #bbb9b7;
  --anchoMobile: 788px;
}

header { 
  background-color: #000000;
  width: 100%;
  padding: 1.5em 0 1.5em 0;
  /* position: fixed; */
  position: sticky; /* Hace que el header sea fijo */
  top: 0; /* Fija el header en la parte superior */
  z-index: 1; /* Hace que el header esté encima del contenido */
  font-size: 16px;
}

.caja {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

header nav ul {
  text-align: center;
  margin-bottom: 0;
}

nav li {
  display: inline;
  margin: 0 1em;
  align-items: center;
}
.headerExtremos1, .headerExtremos2, nav{
  font-size: 18px;
}
nav a,
.headerExtremos1 a,
.headerExtremos2 a {
  text-transform: uppercase;
  /* mayusculas */
  color: #ffffff;
  /* color de texto */
  font-weight: bold;
  /* negrita */
  font-size: 1.375em;
  /* tamaño de letra */
  text-decoration: none;
  /* quitar subrayado */
  font-family: 'Roboto', sans-serif;

  transition: all 0.5s ease;
}

nav a:hover,
.headerExtremos1 a:hover,
.headerExtremos2 a:hover{
  padding: 2px 10px;
  background: #ffffff;
  color: #000000;
  border-radius: 10px;
}

.headerExtremos1 {
  margin: 0 0 0 3em;
  display: flex;
}

.headerExtremos2 {
  margin: 0 3em 0 0;
  display: flex;
}

/* Home */
.home{
  
}
.homeCentro {
  font-size: 16px;
  background: var(--colorPrincipalFondo);;
  display: flex;
  /* padding: 8.875em 0 14.60em 6.188em; */
  padding: 13.975em 0 9em 7.188em;
  width: 100%;
}

.homeImage {
  display: block;
}

.imagenPerfil {
  
  display: inline-block;
  border-radius: 100%;
  width: 30rem;
  height: 30rem;
}

.homeData {
  font-size: 16px;
  display: block;
  margin: 4.6875rem 0px 0 6rem;
}

.nombrePerfil {
  font-weight: bold;
  /* color: #212529; */
  color: var(--colorLetraWhite);
  font-size: 6em;
}

.nombreDown {
  margin-left: 0.75rem;
  color: var(--colorLetraWhite)
}

.informacionPerfil {
  font-size: 1.5em;
  /* color: #212529; */
  color: var(--colorLetraWhite);
  width: 55%;
  margin-left: 16px;
}

.btb-descargar {
  margin-left: 1.8%;
  width: 12.5rem;
  height: 3.125rem;
}

.btb-descargarmain {
  width: 11.25rem;
  height: 3rem;
  border-radius: 0.45rem;
  background-color: #212529;
  color: white;
}
.btb-descargarmain:hover{
  transition: all 0.5s ease;
    margin: 0.0625rem 0.1875rem;
    background: #ffffff;
    color: #000000;
    
}

/* BotonArrroW */
.home {
  /* nada */
}

.contenedorArrow {
  background-color: var(--colorPrincipalFondo);;
  height: 90px;
}

.arrowDown a {
  color: #000000;
  font-size: 4em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  top: 28px;
}

.fa-solid.fa-angle-down {
  transition: transform 4s ease-in-out, font-size 4s ease-in-out;
  animation: pulse 4s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.4);
    font-size: 0.2em;
  }

  50% {
    transform: scale(1);
    font-size: 0.5em;
  }

  100% {
    transform: scale(0.4);
    font-size: 1em;
  }
}

/* skills-educacion */

.skills-educacion {
  background-color: var(--colorPrincipalFondo);;
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: row;
    justify-content: center;
    align-items: center;
}


.rectangularEngloba2 {
  width: 100%;
  padding: 0px 120px 0px 120px;
  display: flex;
    /* flex-direction: row;
  justify-content: center;
  align-items: center;   */
}


.contenedorEditar {
  padding: 15px;
}

/* educacacion */
#titleEducacion {
  margin: 0 0 0 1rem;
}

.educacion {
  display: block;
  Width: 50%;
}

.educacionCadaRectangulo {
  display: flex;
  padding: 1.5rem 0 0 0;
}

.imagenEducacionContenedor {
  display: block;
  margin: 0 0 0 2rem;
}

.icono-educacion {
  display: inline-block;
  width: 100px;
  height: 100px;
}

.data-educacion {
  display: block;
  margin: 0 0 0 2rem;
  width: 80%;
}

/* Skills */

.skills {
  display: block;
  width: 50%;
}

#titleSkills {
  display: inline-block;
  width: 100%;
}

.contenedorBostrap {
  display: block;
}

.skillsCadaRectangulo {
  display: flex;

}

.nameAndBarra {
  display: block;
  width: 80%;
  margin: 1.5rem 0 0 2rem;
}

.nombreDeBarra {
  display: block;
  font-size: 1.5rem;
}

.barraProgreso {
  display: block;
  width: 100%;
}

/* Proyectos */
.proyectos{
  background-color: var(--colorPrincipalFondo);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.contenedorProyectos{
  width: 800px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infoPrincipal{
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top:80px ;
}
#tituloProyecto , #tituloProyecto h2{
  display: block;
  font-size: 64px;
  color: var(--colorLetraWhite);
}
#subtitulo, #subtitulo h2{
  display: block;
  margin-left: 10px;
  color: var(--colorLetraWhite);
}

.contenedorBostrapRectangulo{
  width: 1200px;
  display: block;
  padding: 20px 0;
}
#contenedorBostrapContenido{
  padding: 10px 20px 0 0;
  width: 100%;
}

.carousel-item .col-md-6 img {
  height: auto;
  max-height: 380px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.carousel-item h5{
  padding-top: 10px;
}
.datosImagenProyecto,.contenedorEditar{
  color: var(--colorLetraWhite);
}
.centrar-botonesCarrucel{
 padding-top: 40px;
}
.carousel-indicators{
  margin: 50px 0 0 0;
}
/* verComolodejo lo de abajo*/
#configImg{   
  border-radius: 35px;
  padding: 0px 2px;
}

.carousel-control-next-icon,.carousel-control-prev-icon{
  margin-bottom: 130px;
}


/* qualification */
.experiencia{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--colorPrincipalFondo);
}
.contenedorPadre{
  display: block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.infoPrincipal2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--colorLetraWhite);
}
.contenedorDeinfo{
  width: 50%;
  display: block;

}
.tittleExp h1{
  display: block;
}
.contenedorRectanguloPadre{
  display: flex;
  padding: 10PX;
}
.contenedorHijoLeft, .contenedorHijoLefRight{
  display: block;
  margin: 0 20px;
}
.hijoCadaRectangulo{
  display: flex;
  background-color: #262a2b;
  border-radius: 15px;
  margin: 20px 0;
  width: 600px;
  color: var(--colorLetraWhite);
  
}
.hijoCadaRectangulo:hover{
  transition: all 0.5s ease;
  /* padding: 0px 10px;
    background: #181a1b;
    color: var(--colorLetraWhite);
    border-radius: 10px; */
    padding: 0 10px;
      background: #ffffff;
      color: #000000;
      border-radius: 10px;
}

.status{
  display: block;
  margin: 0 0 0 2rem;
}
.parteTop {
  margin-top: 20px;
}
.tittleRecuadro p{
  margin-left: 6px;
}

/* 768x1024 */
@media screen and (max-width: 788px) {
  .body{
    font-size: 12px;
  }
  header{
    width: 48rem;
  }
    nav a,
    .headerExtremos1 a,
    .headerExtremos2 a {
      font-size: 1em;

    }

  .homeCentro {
    flex-direction: column;
    padding: 5.6em 0 3em 0;
  }

  .homeImage {
    text-align: center;
    margin-top: 6em;
  }

  .imagenPerfil {
    width: 12em;
    height: 12em;
  }

  .homeData {
    margin-top: 25px;
    margin-left: 0;
    text-align: center;
  }

  .nombrePerfil {
    font-size: 3em;
  }

  .homeData p {
    width: 80%;
    display: flex;
  }
   .informacionPerfil {
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      text-align: center;
  }
  .btb-descargar{
    margin: 0 auto;
      display: flex;
      justify-content: center;
      text-align: center
  }

  .rectangularEngloba2{
    margin: 20px 0;
    padding: 6rem 1rem 12rem 1rem;
  }
  .educacionCadaRectangulo{
    width: 368px;
    height: 180.883px;
  }
  .data-educacion h4 {
    font-size: 1rem;
  }
  /* titulos */
  .data-educacion h3, .nombreDeBarra h4{
    font-size: 1.5rem;
  }
  .proyectos{
    align-items: center;
      justify-content: center;
  }
  .contenedorMain{
    
  }
  .infoPrincipal{
    margin-top: 0.125rem;
  }
  .contenedorBostrapRectangulo{
    width: 37.5rem;
    height: 11.3052rem;
  }
  /* PROYECTOS */
  .infoPrincipal{
    width: var(--anchoMobile);
    height: 8.125rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  #parte-Proyectos{
    padding-bottom: 75rem;
    
  }
  .contenedorProyectos{
    width:var(--anchoMobile);
  }
  /* qualifications */
  .experiencia{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contenedorRectanguloPadre{
    width: var(--anchoMobile);
  }
  .contenedorHijoLeft, .contenedorHijoRight{
    width: 50%;
  }
  .hijoCadaRectangulo{
    width:100%
  }
  .linea{
    width: 550px;
    height: 2px;
    background-color: white;
  }
  .redes{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .redes > a{
    margin-right: 8px;
    text-decoration: none;
    color: white;
  }
}
